<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

{% load static %}

<head>
    <title>{% block title %}Homepage | Swastik Tradelink{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fav icon -->
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}">

    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,900,700,700italic,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700%7CDancing+Script%7CMontserrat:400,700%7CMerriweather:400,300italic%7CLato:400,700,900' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Cantata+One' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Magnific Popup -->
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/skin-lblue.css' %}">

    <link rel="stylesheet" href="{% static 'css/ecommerce.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'layerslider/css/layerslider.css' %}">
    <!-- Layer Slider -->

    <!-- Owl carousel -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/revolutionslider_settings.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>

    {% block link %}{% endblock %}
</head>

<body class="style-14 index-3">
    <!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


    <!-- Start Loading -->
    <section class="loading-overlay">
        <div class="Loading-Page">
            <h1 class="loader">Loading...</h1>
        </div>
    </section>
    <!-- End Loading  -->

    <!-- start header -->
    <header>
        <!-- Top bar starts -->
        <div class="top-bar">
            <div class="container">

                <!-- Contact starts -->
                <div class="tb-contact pull-left">
                    <!-- Email -->
                    <i class="fa fa-envelope color"></i> &nbsp; <a href="swastikitshop@gmail.com">swastikitshop@gmail.com</a> &nbsp;&nbsp;
                    <!-- Phone -->
                    <i class="fa fa-phone color"></i> &nbsp; +91 9016942422
                </div>
                <!-- Contact ends -->

                <!-- Shopping carrt starts -->
                <div class="tb-shopping-cart pull-right">
                    <!-- Link with badge -->
                    <a href="#" class="btn btn-white btn-xs b-dropdown"><i class="fa fa-shopping-cart"></i> <i class="fa fa-angle-down color"></i> <span class="badge badge-color">2</span></a>
                    <!-- Dropdown content with item details -->
                    <div class="b-dropdown-block">
                        <!-- Heading -->
                        <h4><i class="fa fa-shopping-cart color"></i> Your Items</h4>
                        <ul class="list-unstyled">
                            <!-- we will edit it after the database is redy -->
                            <!-- Item 1 -->
                            <!---->
                            <!---->
                            <li>
                                <!-- Item image -->
                                <div class="{% static 'cart-img' %}">
                                    <a href="#"><img src="{% static 'img/ecommerce/view-cart/1.png' %}" alt="" class="img-responsive" /></a>
                                </div>
                                <!-- Item heading and price -->
                                <div class="cart-title">
                                    <h5><a href="#">Product Name</a></h5>
                                    <!-- Item price -->
                                    <span class="label label-color label-sm">Price in Rs</span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <!-- Item 2 -->
                        </ul>
                        <a href="/cart" class="btn btn-white btn-sm">View Cart</a> &nbsp;
                        <a href="/checkout" class="btn btn-color btn-sm">Checkout</a>
                    </div>
                </div>
                <!-- Shopping kart ends -->

                <!-- Search section for responsive design -->
                <div class="tb-search pull-left">
                    <a href="#" class="b-dropdown"><i class="fa fa-search square-2 rounded-1 bg-color white"></i></a>
                    <div class="b-dropdown-block">
                        <form>
                            <!-- Input Group -->
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Type Something">
                                <span class="input-group-btn">
										<button class="btn btn-color" type="button">Search</button>
									</span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Search section ends -->

                <!-- Social media starts -->
                <div class="tb-social pull-right">
                    <div class="brand-bg text-right">
                        <!-- Brand Icons -->
                        <a href="#" class="facebook"><i class="fa fa-facebook square-2 rounded-1"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram square-2 rounded-1" aria-hidden="true"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin square-2 rounded-1"></i></a>
                    </div>
                </div>
                <!-- Social media ends -->
            </div>
        </div>

        <!-- Top bar ends -->

        <!-- Header One Starts -->
        <div class="header-1">

            <!-- Container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <!-- Logo section -->
                        <div class="logo">
                            <h1>
                                <a href="/"> <img src="{% static 'img/logo.png' %}" width="80" height="80" ; alt=""> Swastik TradeLink</a>
                            </h1>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-2 col-sm-5 col-sm-offset-3 hidden-xs">
                        <!-- Search Form -->
                        <div class="header-search">
                            <form>
                                <!-- Input Group -->
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Type Something">
                                    <span class="input-group-btn">
											<button class="btn btn-color" type="button">Search</button>
										</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Navigation starts -->
            <div class="navi">
                <div class="container">
                    <div class="navy">
                        <ul>
                            <!-- Main menu -->
                            <li><a href="/">Home</a>
                            </li>
                            <!-- making mega dropdown by us -->
                            <!--  -->
                            <!--  -->
                            <li><a class="nav-link dropdown-toggle font-weight-bold" href="#" id="categoryDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</a>
                                <div class="dropdown-menu m-0 py-0 shadow-none" aria-labelledby="categoryDropdown">
                                    <div class="container my-0 py-0 shadow">
                                        <div class="row p-4 bg-white shadow-none">

                                            <div class="col-md-2">
                                                <h5 class="text-warning mt-0">Hardware</h5>
                                                <a class="text-dark" href="products-Computer+Cabinets_C5.html">Computer Cabinets</a>
                                                <a class="text-dark" href="products-Cabinet+Modifications_C36.html">Cabinet Modifications</a>
                                                <a class="text-dark" href="products-CD-DVD-Floppy+drives_C8.html">CD-DVD-Floppy drives</a>
                                                <a class="text-dark" href="products-Cooling+Devices_C10.html">Cooling Devices</a>
                                                <a class="text-dark" href="products-Graphic+Cards_C45.html">Graphic Cards</a>
                                                <a class="text-dark" href="products-Hard+Drives+HDD_C12.html">Hard Drives HDD</a>
                                                <a class="text-dark" href="products-Keyboards_C3.html">Keyboards</a>
                                                <a class="text-dark" href="products-RAM+(Memory)_C6.html">RAM (Memory)</a>
                                                <a class="text-dark" href="products-Monitor_C7.html">Monitor</a>
                                                <a class="text-dark" href="products-Motherboards_C13.html">Motherboards</a>
                                                <a class="text-dark" href="products-Mouse+(Mice)_C1.html">Mouse (Mice)</a>
                                                <a class="text-dark" href="products-PSU+(+Power+Supply+Units)_C14.html">PSU ( Power Supply Units)</a>
                                                <a class="text-dark" href="products-Processors_C30.html">Processors</a>
                                                <a class="text-dark" href="products-Liquid+Coolers_C10SU21.html">Liquid Coolers</a>
                                                <a class="text-dark" href="products-Fan+Controller_C10SU244.html">Fan Controller</a>
                                            </div>
                                            <div class="col-md-2">
                                                <a class="text-dark" href="products-Cables+and+Convertors_C4.html">Cables and Convertors</a>
                                                <a class="text-dark" href="products-Solid+State+Drive+(SSD)_C93.html">Solid State Drive (SSD)</a>
                                                <a class="text-dark" href="products-Workstation+Graphics_C97.html">Workstation Graphics</a>
                                                <h5 class="text-warning mt-0">Desktops and Laptops</h5>
                                                <a class="text-dark" href="products-Batteries+and+Chargers_C29.html">Batteries and Chargers</a>
                                                <a class="text-dark" href="products-Laptop+Accessories_C23.html">Laptop Accessories</a>
                                                <a class="text-dark" href="products-Laptop+Carry+Cases_C62.html">Laptop Carry Cases</a>
                                                <a class="text-dark" href="products-Gaming+Desktops._C9SU491.html">Gaming Desktops.</a>
                                                <a class="text-dark" href="products-Laptop+Workstation_C27SU615.html">Laptop Workstation</a>
                                                <a class="text-dark" href="products-Laptops._C27.html">Laptops.</a>
                                                <a class="text-dark" href="products-Gaming+Laptop_C9SU445.html">Gaming Laptop</a>
                                                <a class="text-dark" href="products-Home+Office+Desktop_C28.html">Home Office Desktop</a>
                                                <h5 class="text-warning mt-0">Apple</h5>
                                                <a class="text-dark" href="products-ACCESSORIES_C60SU345.html">ACCESSORIES</a>
                                                <h5 class="text-warning mt-0">Digital Cameras</h5>
                                                <a class="text-dark" href="products-Memory+cards+and+Readers_C11.html">Memory cards and Readers</a>
                                            </div>
                                            <div class="col-md-2">
                                                <a class="text-dark" href="products-CCTV+Camera_C74.html">CCTV Camera</a>
                                                <h5 class="text-warning mt-0">Peripherals</h5>
                                                <a class="text-dark" href="products-Handwriting-Tablets_C40.html">Handwriting-Tablets</a>
                                                <a class="text-dark" href="products-Headphones_C19.html">Headphones</a>
                                                <a class="text-dark" href="products-Presentation+Devices_C48.html">Presentation Devices</a>
                                                <a class="text-dark" href="products-Printers_C15.html">Printers</a>
                                                <a class="text-dark" href="products-Projectors_C17.html">Projectors</a>
                                                <a class="text-dark" href="products-Sound+Cards_C18.html">Sound Cards</a>
                                                <a class="text-dark" href="products-Speakers_C2.html">Speakers</a>
                                                <a class="text-dark" href="products-UPS_C37.html">UPS</a>
                                                <a class="text-dark" href="products-USB+Flash+Pen+drive_C33.html">USB Flash Pen drive</a>
                                                <a class="text-dark" href="products-USB+Hard+drives_C25.html">USB Hard drives</a>
                                                <a class="text-dark" href="products-Webcam_C38.html">Webcam</a>
                                                <a class="text-dark" href="products-Toners+and+Cartridges_C31.html">Toners and Cartridges</a>
                                                <a class="text-dark" href="products-USB+Products+(Hub-Fan+etc)_C24.html">USB Products (Hub-Fan etc)</a>
                                                <a class="text-dark" href="products-Tools_C94.html">Tools</a>
                                            </div>
                                            <div class="col-md-2">
                                                <a class="text-dark" href="products-Mouse+Pads_C98.html">Mouse Pads</a>
                                                <h5 class="text-warning mt-0">Gaming</h5>
                                                <a class="text-dark" href="products-Gaming+Keyboards_C9SU14.html">Gaming Keyboards</a>
                                                <a class="text-dark" href="products-Gaming+Mouse_C9SU15.html">Gaming Mouse</a>
                                                <a class="text-dark" href="products-Gaming+Mouse+Pads_C9SU13.html">Gaming Mouse Pads</a>
                                                <a class="text-dark" href="products-Gaming+Headphones_C9SU16.html">Gaming Headphones</a>
                                                <a class="text-dark" href="products-Joysticks_C9SU261.html">Joysticks</a>
                                                <a class="text-dark" href="products-Game+Pads_C9SU296.html">Game Pads</a>
                                                <a class="text-dark" href="products-Gaming+Desktops_C9SU491.html">Gaming Desktops</a>
                                                <a class="text-dark" href="products-Gaming+Laptops_C9SU445.html">Gaming Laptops</a>
                                                <a class="text-dark" href="products-Gaming+Chair_C9SU531.html">Gaming Chair</a>
                                            </div>
                                            <div class="col-md-2">
                                                <a class="text-dark" href="products-Gaming+Monitors_C9SU614.html">Gaming Monitors</a>
                                                <a class="text-dark" href="products-Gaming+Bundle_C9SU352.html">Gaming Bundle</a>
                                                <a class="text-dark" href="products-Steering+Wheel_C9SU160.html">Steering Wheel</a>
                                                <a class="text-dark" href="products-Streaming_C9SU638.html">Streaming</a>
                                                <a class="text-dark" href="products-Gaming+Desk_C9SU642.html">Gaming Desk</a>
                                                <h5 class="text-warning mt-0"> Network Devices</h5>
                                                <a class="text-dark" href="products-Modems_C34SU324.html">Modems</a>
                                                <a class="text-dark" href="products-Small+Business+Devices_C26.html">Small Business Devices</a>
                                                <a class="text-dark" href="products-Wireless+products_C34.html">Wireless products</a>
                                                <a class="text-dark" href="products-Wireless+Router_C34SU284.html">Wireless Router</a>
                                                <a class="text-dark" href="products-Bluetooth_C95.html">Bluetooth</a>
                                                <h5 class="text-warning mt-0">Software</h5>
                                                <a class="text-dark" href="products-Operating+System_C35SU115.html">Operating System</a>
                                                <a class="text-dark" href="products-Anti+Virus_C35SU116.html">Anti Virus</a>
                                                <a class="text-dark" href="products-Office+_C35SU313.html">Office </a>
                                                <a class="text-dark" href="products-Others_C35SU407.html">Others</a>
                                            </div>
                                            <div class="col-md-2">
                                                <h5 class="text-warning mt-0">Tablet</h5>
                                                <a class="text-dark" href="products-Tablet_C88.html">Tablet</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li><a href="about.html">Build PC</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                            <li class="sign"><a href="/signin">Sign In</a></li>
                            <li class="sign"><a href="/signup">Sign Up</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Navigation ends -->

        </div>

        <!-- Header one ends -->

    </header>
    <!-- end header -->

    {% block content %}{% endblock %}

    <!-- start footer area -->
    <footer class="footer-area-content">

        <div class="container">
            <div class="footer-wrapper style-3">
                <div class="type-1">
                    <div class="footer-columns-entry">
                        <div class="row">
                            <div class="col-md-3">
                                <img alt="" src="{% static 'img/logo.png' %}" height="60" width="90" class="footer-logo">
                                <div class="footer-description">Swastik Tradelink.</div>
                                <div class="footer-address">39/A Sudershan Society-2<br> Phone: +91 9016 942<br> Email: <a href="swastikitshop@gmail.com">swastikitshop@gmail.com</a><br>
                                    <a target="_blank" href="http://iglyphic.com/"><b>www.swastiktradelink.com</b></a>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="col-md-3">
                                <div class="index-three-footer-widget how-to-buy">
                                    <h3 class="heading2">My Account</h3>
                                    <ul>
                                        <li><a href="#" title="">Track Order</a></li>
                                        <li><a href="#" title="">Order History</a></li>
                                        <li><a href="#" title="">View Account</a></li>
                                        <li><a href="#" title="">Shopping</a></li>
                                    </ul>
                                </div>
                                <!-- Widget -->
                            </div>
                            <div class="col-md-3">
                                <div class="index-three-footer-widget customer-services">
                                    <h3 class="heading2">Customer Service</h3>
                                    <ul>
                                        <li><a href="#" title="">Warrenty Exchange</a></li>
                                        <li><a href="#" title="">Printer & Computer Service</a></li>
                                        <li><a href="#" title="">Toner & Ink Refeil</a></li>
                                        <li><a href="#" title="">Quatation for whole setup</a></li>
                                    </ul>
                                </div>
                                <!-- Widget -->
                            </div>
                            <div class="col-md-3">
                                <div class="index-three-footer-widget news-letter">
                                    <h3 class="heading2">News Signup</h3>
                                    <p>Subscribe to receive inspiration, ideas, and news in your inbox.</p>
                                    <form>
                                        <input type="text" placeholder="Enter your Email" />
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                                <!-- Widget -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="footer-bottom footer-wrapper style-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-bottom-navigation">
                            <div class="cell-view">
                                <div class="copyright">Created with by <a target="_blank" href="/">Swastik Tradelink</a> . All right reserved</div>
                            </div>
                            <div class="cell-view">
                                <div class="payment-methods">
                                    <a href="#"><img alt="" src="{% static 'img/payment-method-1.png' %}"></a>
                                    <a href="#"><img alt="" src="{% static 'img/payment-method-2.png' %}"></a>
                                    <a href="#"><img alt="" src="{% static 'img/payment-method-3.png' %}"></a>
                                    <a href="#"><img alt="" src="{% static 'img/payment-method-4.png' %}"></a>
                                    <a href="#"><img alt="" src="{% static 'img/payment-method-5.png' %}"></a>
                                    <a href="#"><img alt="" src="{% static 'img/payment-method-6.png' %}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </footer>
    <!-- footer area end -->

    <!-- All script -->
    <script src="{% static 'js/vendor/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <!-- Scroll up js
============================================ -->
    <script src="{% static 'js/jquery.scrollUp.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>


    <script src="{% static 'js/pluginse209.js?v=1.0.0' %}"></script>

    <!-- Magnific Popup -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>


    <script src="{% static 'js/jquery.scrolly.js' %}"></script>


    <!-- External libraries: jQuery & GreenSock -->
    <script src="{% static 'layerslider/js/greensock.js' %}" type="text/javascript"></script>
    <!-- LayerSlider script files -->
    <script src="{% static 'layerslider/js/layerslider.transitions.js' %}" type="text/javascript"></script>
    <script src="{% static 'layerslider/js/layerslider.kreaturamedia.jquery.js' %}" type="text/javascript"></script>

    <!-- Owl carousel -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    {% block script %}{% endblock %} {% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {

            "use strict";

            //** Slider  **//
            jQuery("#layerslider").layerSlider({
                responsive: true,
                responsiveUnder: 1170,
                layersContainer: 1170,
                skin: 'v5',
                hoverPrevNext: true,
                navPrevNext: true,
                navStartStop: false,
                navButtons: false,
                skinsPath: "{% static 'layerslider/skins/' %}"
            });


            /*=================== Parallax ===================*/
            $('.parallax').scrolly({
                bgParallax: true
            });


            /* Owl carousel */
            $(".owl-carousel").owlCarousel({
                slideSpeed: 500,
                rewindSpeed: 1000,
                mouseDrag: true,
                stopOnHover: true
            });
            /* Own navigation */
            $(".owl-nav-prev").click(function() {
                $(this).parent().next(".owl-carousel").trigger('owl.prev');
            });
            $(".owl-nav-next").click(function() {
                $(this).parent().next(".owl-carousel").trigger('owl.next');
            });


        });
    </script>
    {% endblock %}

</body>


</html>