{% extends 'base.html' %} {% block title %}SignUp | Swastik Tradelink{% endblock %} {% block content %}

<!-- start main content -->
<main class="container">

    <section>

        <div class="signuppanel">

            <div class="row">

                <div class="col-md-12">

                    <form method="post" action="#">

                        <h3 class="nomargin">Sign Up</h3>
                        <p class="mt5 mb20">Already a member? <a href="/signin"><strong>Sign In</strong></a></p>

                        <label class="control-label">Name</label>
                        <div class="row mb10">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="Firstname" />
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="Lastname" />
                            </div>
                        </div>
                        <br>

                        <div class="mb10">
                            <label class="control-label">Username</label>
                            <input type="text" class="form-control" />
                        </div>
                        <br>

                        <div class="mb10">
                            <label class="control-label">Password</label>
                            <input type="password" class="form-control" />
                        </div>
                        <br>

                        <div class="mb10">
                            <label class="control-label">Retype Password</label>
                            <input type="password" class="form-control" />
                        </div>
                        <br>

                        <label class="control-label">Birthday</label>
                        <div class="row mb10">
                            <div class="col-sm-5">
                                <select class="form-control chosen-select" data-placeholder="Month">
									<option value="Select">Select Month</option>
									<option value="January">January</option>
									<option value="February">February</option>
									<option value="March">March</option>
									<option value="April">April</option>
									<option value="May">May</option>
									<option value="June">June</option>
									<option value="July">July</option>
									<option value="August">August</option>
									<option value="September">September</option>
									<option value="October">October</option>
									<option value="November">November</option>
									<option value="December">December</option>
								</select>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Day" />
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Year" />
                            </div>
                        </div>
                        <br>

                        <div class="mb10">
                            <label class="control-label">Email Address</label>
                            <input type="text" class="form-control" />
                        </div>
                        <br>

                        <div class="mb10">
                            <label class="control-label">Region/State</label>
                            <input type="text" class="form-control" />

                        </div>
                        <br />

                        <button class="btn btn-success btn-block">Sign Up</button>
                    </form>
                </div>
                <!-- col-sm-6 -->

            </div>
            <!-- row -->



        </div>
        <!-- signuppanel -->

    </section>
</main>
<!-- end  main content -->

{% endblock %}