{% extends 'base.html' %} {% block title %}SignUp | Swastik Tradelink{% endblock %} {% block content %}

<!-- start main content -->
<main class="container">

    <section>

        <div class="signuppanel">

            <div class="row">

                <div class="col-md-12">

                    <form method="post" action="/signup">{% csrf_token %}
                        {% if error %}
                            <div class="alert alert-danger" role="alert">
                                {{error}}
                            </div>
                        {% endif %}

                        <h3 class="nomargin">Sign Up</h3>
                        <p class="mt5 mb20">Already a member? <a href="/signin"><strong>Sign In</strong></a></p>

                        <label class="control-label">Name</label>
                        <div class="row mb10">
                            <div class="col-sm-6">
                                <input type="text" name="firstname" value="{{values.firstname}}" class="form-control" placeholder="Firstname" />
                            </div>
                            <div class="col-sm-6">
                                <input type="text" name="lastname" value="{{values.lastname}}" class="form-control" placeholder="Lastname" />
                            </div>
                        </div>
                        <br>

                        <div class="mb10">
                            <label class="control-label">Email Address</label>
                            <input required type="email" name="email" value="{{values.email}}" class="form-control" />
                        </div>
                        <br>

                        <div class="mb10">
                            <label class="control-label">Password</label>
                            <input type="password" name="password" class="form-control" />
                        </div>
                        <br>

                        <div class="mb10">
                            <label class="control-label">Confirm Password</label>
                            <input type="password" name="repassword" class="form-control" />
                        </div>
                        <br>

                        <div class="mb10">
                            <label class="control-label">Phone No.</label>
                            <input type="text" name="phone" value="{{values.phone}}" class="form-control" />
                        </div>
                        <br>


                        <button class="btn btn-success btn-block">Sign Up</button>
                    </form>
                </div>
                <!-- col-sm-6 -->

            </div>
            <!-- row -->



        </div>
        <!-- signuppanel -->

    </section>
</main>
<!-- end  main content -->

{% endblock %}